html {
    scroll-behavior: smooth;
}

body {
    background-color: #f4f4f9; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px; 
    color: #333;
    line-height: 1.6;
}

.container {
    background-color: #ffffff !important;
    border-radius: 15px;
    border: 1px solid #dee2e6;
}

h1, h2, h3, h4, h5 {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 800 !important; 
    color: #111;
}

h1 { font-size: 4rem; }    
h3 { font-size: 2.8rem; }  
h4 { font-size: 2rem; }    

p {
    text-align: justify;
    margin-bottom: 1.5rem;
    font-weight: 450;
}

.list-group-item {
    font-size: 19px; 
    font-weight: 600;
    color: #444;
    padding: 12px 20px;
}

.list-group-item-action:hover {
    background-color: #f8f9fa;
    padding-left: 30px; 
    color: #0d6efd !important;
}

.hover-zoom {
    transition: all 0.3s ease;
}

.hover-zoom:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
}

img {
    border: 2px solid #eee;
    border-radius: 15px;
}

.btn {
    font-size: 18px;
    font-weight: 700;
    padding: 12px 25px;
    border-radius: 8px;
    text-transform: uppercase;
}

.text-danger {
    font-size: 1.6rem !important;
    display: block;
    margin: 20px 0;
}