html{
    scroll-behavior: smooth;
}

h1 {
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0;
}

.group {
    background-color: rgb(230, 219, 203);
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.encabezado {
    width: 90%;
    margin: 15px auto;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icono {
    width: auto;
    height: 80px;
}

.contenido {
    float: left;
    background-color: beige;
    width: 25%;
    margin-left: 5%;
    margin-right: 1%;
    padding: 15px;
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.contenido a{
    color:cadetblue;
    text-decoration: none;
    font-weight: bold;
}

.contenido a:hover {
    color: #555;
    text-decoration: underline;
}

.contenido h2 {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.texto {
    float: right;
    background-color:rgb(230, 219, 203);
    width: 65%;
    margin: 1% 0%;
    padding: 15px;
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.texto h3 {
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: justify;
}

.imagen{
    display: block;
    margin-left: 5%;;
    width: 25%;
    float: left;
    margin-top: 20px;
    clear: left;
}

.imagen img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

h5 {
    font-size: 18px;
    font-weight: bold;
    text-align: justify;
}

.imagen a{
    display:block;
    width: 100%;
}

.imagen a:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.05);
}